{% extends 'mywikipedia/wikipedia.html' %}
{% block body %}
<div class="text-center">
  <form class="form-group" method="post">
    <ul class="list-unstyled">
      <!--
    {{ form.as_ul }}
  -->

  {% for field in form %}
  <li class="{{ field.name }}">
      <div class="form-group">
    <label class="col-xs-3 text-right">{{field.name }}</label>
    <div class="col-xs-3">
    {{ field }}
  </div>
  </li>
  <br />
  {% endfor %}
  </div>
  </ul>
  </form>
  <button type="submit" class="btn btn-success col-xs-1 col-xs-offset-4">Login</button>
</div>
{% endblock %}
