body{
/*  background-color: #496370; */
  background-color: white;
  padding-top: 2%;
}
.search-text,.random-article{
  color: red;
  font-size: 20px;
  font-family: "Helvetica Neue";
}
.login{
  color: white;
  font-size: 18px;
  font-family: "Helvetica Neue";
}
.username label, .password label{
  color: grey;
  font-size: 20px;
  padding-top: 8px;
  padding-right: 2px;
}
#id_username {
  color: green;
  font-size: 20px;

}
#id_password{
  color: green;
  font-size: 20px;

}
form li{
  padding-bottom: 10px;
}
.login hover{
  color: orange;
  padding-bottom: 30px;
}
img{
    padding-top: 0px;
    padding-bottom: 50px;
    width: 40%;
}
a:hover, a:link, a:focus, a:visited, a:active{
  color: red !important;
  text-decoration: none;
}
